@import "../../../../../../src/styles/variables";

$services-icons: (
        call: "\E907",
        chat: "\E65E",
        email: "\E922",
        realTime: "\E905",
        message: "\E65F",
);

.root {
  margin-bottom: 25px;

  .header {
    margin: 0;
    font-size: 26px;
    color: map_get($colors, 'primary');
    padding-bottom: 22px;
  }

  p {
    margin: 25px 0;
  }

  .headerItem {
    font-size: 16px;
    text-decoration: underline;

    a {
      color: black;
    }
  }
  .itemContainer {
    margin-bottom: 20px;

    .icon {
      font-family: "JamesAllenFonts";
      color: map_get($colors, 'primary');
      font-size: 46px;
    }

    @each $service-icon, $icon in $services-icons {
      .#{$service-icon}:before {
        content: $icon;
      }
    }
  }
}






