@import "../../../../../styles/variables";

.mainContainer {
  margin-left: 55px;
  width: 100%;

  .btnContainer {
    display: flex;
    justify-content: flex-end;

    button {
      background-color: map_get($colors, 'primary');
      width: 60px;
      height: 26px;
      font-size: 13px;
      border: 0 none;
      color: #fff;
      padding-bottom: 2px;
      cursor: pointer;
    }
  }

  .inputsContainer {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;

    .test{
      width: 30%;
    }
  }

  .textareaContainer {
    margin-bottom: 8px;

    textarea {
      height: 65px;
      padding: 5px 5px;
      resize: none;
      border: 1px solid #ddd;
      width: 100%;
    }
  }

  input {
    height: 30px;
    padding: 0 5px;
    border: 1px solid #ddd;
    width: 100%;
  }

  input:hover, textarea:hover {
    border-color: #a5a5a5;
  }
  input:focus {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset;
  }

}

