//@import "../../../styles/variables";

.root {
  background: #ddd;
  font-size: 16px;
  padding: 20px;

  .title {
    text-align: center;
    text-transform: uppercase;
  }

  .margin {
    margin-bottom: 10px;
  }

  .button {
    padding: 12px 20px;
    height: 56px;
    border-radius: 0;
    color: #fff;

    &:hover {
      //background: map_get($colors, 'primary');
      background: green;
    }
  }

  .text {
    text-align: justify;

    a {
      color: inherit;
    }
  }
}
