
.navContainer {
    background: #f8f6f8;
    padding: 12px 6px;
    overflow: hidden;
    white-space: nowrap;

    a {
        text-decoration: underline;
        margin: 0 8px;
        font-size: 17px;
        color: black;
    }
}

.selected {
    color: red;
    text-decoration: none;
    color: #9f9f9f;
}

.imgContainer {
    background: #eaeaea;
    padding: 20px 10px;
    height: 30vh;
}

.img{
    background: #0074D9;
    height: 100%;
}





