

.textSlider {
  line-height: 26px;
  text-align: center;
  position: relative;
  width: 563px;
  margin: -100px auto;
  margin-bottom: 129px;
  font-family: NunitoSans;
  color: rgb(27, 27, 27);

  .headerText {
    font-size: 18px;
    font-weight: bold;

    color: rgb(35, 35, 35);
    text-transform: uppercase;
  }

  .subText {
    font-size: 16px;
    color: rgb(35, 35, 35);
  }

  .arrowLeft, .arrowRight {
    background: url('https://ion.r2net.com/images/amazingHomepage/Arrow.svg') no-repeat center center;
    background-size: 50%;
    content: '';
    position: absolute;
    top: 29%;
    width: 200px;
    height: 84px;
    cursor: pointer;
    margin-top: -42px;
    transition: all .3s;
  }

  .arrowLeft {
    left: -87px;
    transform: rotate(180deg);
  }

  .arrowRight {
    right: -87px;
  }
}

.arrowLeft:hover {
  -ms-transform: rotate(180deg) translate(10px, 0);
  -webkit-transform: rotate(180deg) translate(10px, 0);
  transform: rotate(180deg) translate(10px, 0);
}

.arrowRight:hover {
  -ms-transform: translate(10px, 0);
  -webkit-transform: translate(10px, 0);
  transform: translate(10px, 0);
}

.slickContainer{
  position: relative;
  height: 431px;
  //border: 1px solid black;
}

.center{
  width: 600px;
  z-index: 1000000;
  top: 0;
  transform: translateX(-20%);
}

.noCenter{
  width: 390px;
  top: 54px;
  position: absolute;
  z-index: 10;
}

.itemContainer{
  position: relative;
  display: block;
  height: 100%;
}

.textContainer{

}

.root{
  position: relative;
}













