

.textSlider {
  line-height: 26px;
  text-align: center;
  position: relative;
  width: 563px;
  margin: 40px auto;
  margin-bottom: 129px;
  font-family: NunitoSans;
  color: rgb(27, 27, 27);

  .headerText {
    font-size: 18px;
    font-weight: bold;

    color: rgb(35, 35, 35);
    text-transform: uppercase;
  }

  .subText {
    font-size: 16px;
    color: rgb(35, 35, 35);
  }

  .arrowLeft, .arrowRight {
    background: url('https://ion.r2net.com/images/amazingHomepage/Arrow.svg') no-repeat center center;
    background-size: 50%;
    content: '';
    position: absolute;
    top: 29%;
    width: 200px;
    height: 84px;
    cursor: pointer;
    margin-top: -42px;
    transition: all .3s;
  }

  .arrowLeft {
    left: -87px;
    transform: rotate(180deg);
  }

  .arrowRight {
    right: -87px;
  }
}

.arrowLeft:hover {
  -ms-transform: rotate(180deg) translate(10px, 0);
  -webkit-transform: rotate(180deg) translate(10px, 0);
  transform: rotate(180deg) translate(10px, 0);
}

.arrowRight:hover {
  -ms-transform: translate(10px, 0);
  -webkit-transform: translate(10px, 0);
  transform: translate(10px, 0);
}

.slickContainer{
  border: 1px solid red;
  display: flex;
}

.slick-img {
  //width: 390px;
  margin: 0;
  border: 1px solid black;
}

.center{
  border: 1px solid purple;
  width: 390px;
  //top: 0;
  //display: inline-block;
  //position: absolute;
  //transition: all .3s;
  //transform: translate(-50%);
}

.noCenter{
  width: 390px;
  border: 1px solid yellow;
}

.itemContainer{
  //position: relative;
}













