.header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 150px;
  //background-color: rgb(27, 27, 27);
  //text-align: center;
  font-weight: 600;

  .menu {
    height: 43px;
    border-bottom: 1px solid #ececec;
    font-size: 11px;
    color: #636363;
    min-width: 980px;
    letter-spacing: 1.1px;
    background: blue;
  }


  .nav {
    //width: 98%!important;
    //text-align: center;
    //margin: 0 auto;
    //max-width: 1260px;
    background: red;
  }
}
