@font-face {
  font-family: "JamesAllenFonts";
  src: url("https://ion.r2net.com/Images/Fonts/JAFonts/ja-font.eot?v=40");
  src: url("https://ion.r2net.com/Images/Fonts/JAFonts/ja-font.eot?v=40") format("embedded-opentype"),
  url("https://ion.r2net.com/Images/Fonts/JAFonts/ja-font.woff?v=40") format("woff"),
  url("https://ion.r2net.com/Images/Fonts/JAFonts/ja-font.ttf?v=40") format("truetype");
  font-style: normal;
  font-weight: normal;
}

:global {
  @import "reset";

  @import "~flexboxgrid";

  .root {
    color: red
  }

  .root:hover {
    color: blue;
  }
}

.root {
  color: blue;
}

.root:hover {
  color: purple;
}
