.root{
  width: 100vw;
}

.guaranteeContainer {
  padding: 0 30px;
  max-width: 1200px;
  margin: auto;
  min-height: 80vh;

  .guaranteeHeader {
    font-size: 36px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .guaranteeContainer {
    padding: 0;
  }
}

