.customerServiceContainer {
margin-bottom: 25px;
}

.customerServiceHeader {
  margin: 0;
  font-size: 26px;
  color: #ff8080;
  padding-bottom: 22px;
}

.headerItem {
  font-size: 16px;
  text-decoration: underline;
}

.headerItem a {
  color: black;
}

.itemContainer {
  margin-bottom: 20px;
}
