//@import "../../../styles/variables";

.root {
  //background: #ddd;
  //font-size: 16px;
  //padding: 20px;

  //@media (min-width: map_get($breakpoints, 'desktop')) { /*map_get($breakpoints, 'tablet')*/
    background: #4d4d4d;
    color: #fff;
  //}

  .wrapper {
    //@media (min-width: map_get($breakpoints, 'desktop')) { /*map_get($breakpoints, 'tablet')*/
    //  margin: 0 auto;
    //  width: 780px;
    //}
  }

  .title {
    //text-align: center;
    text-transform: uppercase;
    //@media (min-width: map_get($breakpoints, 'desktop')) { /*map_get($breakpoints, 'tablet')*/
      align-self: center;
    //}
  }

  .margin {
    margin-bottom: 10px;
  }

  .button {
    //padding: 12px 20px;
    //height: 56px;
    //border-radius: 0;
    //color: #fff; /* take from materil config */
    //
    //&:hover {
    //  background: map_get($colors, 'primary');
    //}


    //@media (min-width: map_get($breakpoints, 'desktop')) { /*map_get($breakpoints, 'tablet')*/
      box-shadow: none;
      height: 44px;
      background: transparent;
      color: #fff;
      border: 1px solid #9d9d9d;
      &:hover {
        color: #636363;
        background: hsla(0,0%,100%,.58);
        transition: .5s;
      }
    //}
  }

  .text {
    text-align: justify;
    //@media (min-width: map_get($breakpoints, 'desktop')) { /*map_get($breakpoints, 'tablet')*/
      margin: 0 auto;
      width: 780px;
      padding: 0 5px;
    //}

    a {
      color: inherit;
    }
  }
}
