$content-icons: (
        startSetting: "\E65A",
        startDiamond: "\E917",
        startGemstone: "\E659",
        trueHearts: "\E63D",
        diamondPairs: "\E658",
        diamondStuds: "\E64B",
        diamondEarrings: "\E64C",
        gemstoneEarrings: "\E64D",
        diamondPendants: "\E64F",
        gemstonePendants: "\E651",
        designPendant: "\E64E",
        diamondRings:"\E652",
        gemstoneRings:"\E903",
        designEarrings:"\E928",
        solitaireRing: "\E611",
        channelRing: "\E60D",
        tensionRing: "\E612",
        haloRing: "\E60E",
        paveRing: "\E60F",
        sideStoneRing: "\E610",
        threeStoneRing: "\E613",
        vintageRing: "\E615",
        gemstones: "\E621",
        diamondBracelets: "\E901",
        gemstoneBracelets:"\E904",
        round: "\E621",
        princess: "\E61E",
        cushion: "\E618",
        emerald: "\E619",
        oval: "\E61C",
        radiant: "\E61F",
        asscher: "\E617",
        marquise: "\E61B",
        heart: "\E61A",
        pear: "\E61D",
        classicWeddingRings: "\E609",
        eternityWeddingRings: "\E60C",
        anniversaryWeddingRings: "\E605",
        diamondWeddingRings: "\E60B",
        stackableWeddingRings: "\E65D",
        carvedWeddingRings: "\E607",
        alternativeWeddingRings: "\E606"
);

$logo: (
        unique: "https://ion.r2net.com/Images/svg/designers-logos/unique-logo.svg",
        jeff: "https://ion.r2net.com/Images/svg/designers-logos/jeff-logo.svg",
        verragio: "https://ion.r2net.com/Images/svg/designers-logos/verragio-logo.svg",
        mf: "https://ion.r2net.com/Images/svg/designers-logos/mf-logo.svg",
        danhov: "https://ion.r2net.com/Images/svg/designers-logos/danhov-logo.svg",
);

$positions-sprite: (
        yellow: 0 0,
        blue: 0 28px,
        purple: 0 77px,
        orange: 31px 226px,
        black: 31px -70px,
        pink: 0 -23px,
        brown: 31px -46px,
        green: 31px 0,
        gray: 31px 28px,
        red: 0 -70px,
);

.contentMenuContainer {
  margin-top: 25px;

  .headerContainer {
    position: relative;

    .listHeader {
      text-transform: uppercase;
      margin-bottom: 25px;

      &.subListHeader {
        position: absolute;
        top: 0;
        left: 50%;
      }
    }
  }

  .mainListContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .listItem {
      max-height: 30px;

      a {
        color: #656565;
        display: flex;
        align-items: center;
        padding: 5px;

        .icon {
          font-family: "JamesAllenFonts";
          font-size: 26px;
          line-height: 20px;
          margin-right: 7px;
        }
        @each $content-icon, $icon in $content-icons {
          .#{$content-icon}:before {
            content: $icon;
          }
        }

        .imgLogo {
          height: 34px;
          width: 80px;
          background: no-repeat center;
          @each $logo-item, $src in $logo {
            &.#{$logo-item} {
              background-image: url($src);
            }
          }
        }

        .imgSprite {
          background-image: url('https://ion.r2net.com/images/mobiletest/fancy-sprite.png?v=1');
          background-size: 200%;
          width: 28px;
          height: 28px;
          margin-right: 7px;
          @each $color, $position in $positions-sprite {
            &.#{$color} {
              background-position: $position;
            }
          }
        }
      }
    }
  }
}








