$menu-icons: (
        engagementRings: "\E90B",
        diamonds: "\E90D",
        gemstones: "\E905",
        weddingRings: "\E631",
        fineJewelry: "\E909",
);

.root {
  @each $menu-icon, $icon in $menu-icons {
    .#{$menu-icon}:before {
      content: $icon;
    }
  }

  .expanded {
    font-weight: bold;
  }

  .panelDetails {
    box-shadow: inset 0 20px 20px -20px #969696;
    background-color: #dedede;

    .mainPanel {
      padding-top: 15px;
      margin: 0px 20px 20px 20px;
    }
    .bottomBannerContainer {
      position: relative;
      .imgBanner {
        width: 100%;
      }

      .textBanner {
        position: absolute;
        text-transform: uppercase;
        font-weight: 500;
        color: #656565;
      }

      .textBanner.left {
        width: 48%;
        top: 30%;
        left: 10%;
      }

      .textBanner.right {
        top: 30%;
        right: 10%;
        width: 29%;
        text-align: center;
      }
    }
  }

  .headerContainer {
    display: flex;
    align-items: center;

    .iconHeader {
      margin-right: 15px;
      font-family: "JamesAllenFonts";
      color: #909090;
      font-size: 2em;
    }

    .headerText {
      font-size: 1.2em;
      text-transform: uppercase;
      padding: 0;
    }
  }

  .expandIcon:before {
    font-family: "JamesAllenFonts";
    font-size: 14px;
    content: "";
  }

  :global .MuiButton-outlined-63 {
    border: none;
  }

  :global .MuiExpansionPanelSummary-content-98.MuiExpansionPanelSummary-expanded-95 {
    margin: 0;
  }

  :global .MuiExpansionPanelSummary-content-98 {
    margin: 0;
  }

  :global .MuiExpansionPanelSummary-root-89.MuiExpansionPanelSummary-expanded-90 {
    min-height: 48px;
    height: 48px;
  }

  :global .MuiExpansionPanelDetails-root-105 {
    padding: 0;
  }

  :global .MuiExpansionPanel-expanded-87 {
    margin: 0;
  }

  :global .MuiExpansionPanelSummary-root-94 {
    background: rgb(255, 255, 255);
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-left: medium none #bebebe;
    border-right: medium none #bebebe;

    //background-position: center;
    //transition: background 0.5s;
  }

  //:global .MuiExpansionPanelSummary-root-94:hover {
  //  background: rgb(255, 255, 255) radial-gradient(circle, transparent 1%, rgb(238, 238, 238) 1%) center/15000%;
  //}
  //
  //:global .MuiExpansionPanelSummary-root-94:active {
  //  background-color: rgb(255, 255, 255);
  //  background-size: 100%;
  //  transition: background 0s;
  //}

  :global .MuiExpansionPanel-expanded-92 {
    margin: 0;
  }

  :global .MuiExpansionPanelDetails-root-110 {
    padding: 0;
  }
}






