$menu-icons: (
        engagementRings: "\E90B",
        diamonds: "\E90D",
        gemstones: "\E905",
        weddingRings: "\E631",
        fineJewelry: "\E909",
);

.root {
  @each $menu-icon, $icon in $menu-icons {
    .#{$menu-icon}:before {
      content: $icon;
    }
  }

  :global .MuiExpansionPanelSummary-root-94 {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-left: medium none #bebebe;
    border-right: medium none #bebebe;
  }

  :global .MuiExpansionPanel-expanded-92 {
    margin: 0;
  }

  :global .MuiExpansionPanelDetails-root-110 {
    padding: 0;
  }

  .panelDetails {
    box-shadow: inset 0 20px 20px -20px #969696;
    .mainPanel {
      padding-top: 15px;
      margin: 0px 20px 20px 20px;
    }
    .bottomBannerContainer {
      position: relative;
      .imgBanner {
        width: 100%;
      }

      .textBanner {
        position: absolute;
        text-transform: uppercase;
        font-weight: 500;
        color: #656565;
      }

      .textBanner.left {
        width: 48%;
        top: 30%;
        left: 10%;
      }

      .textBanner.right {
        top: 30%;
        right: 10%;
        width: 29%;
        text-align: center;
      }
    }
  }
  .headerContainer {
    display: flex;
    align-items: center;
    .iconHeader {
      margin-right: 15px;
      font-family: "JamesAllenFonts";
      color: #909090;
      font-size: 2em;
    }
    .headerText {
      font-size: 1.2em;
      text-transform: uppercase;
      padding: 0;
    }
  }

  .expandIcon:before {
    font-family: "JamesAllenFonts";
    font-size: 14px;
    content: "";
  }
}






