$nav-links-icons: (
        customerService: "\E62D",
        about: "\E63E",
        guarantee: "\E904",
        inspirationGallery: "\E604",
        engagementMoments: "\E900",
        nycShowRoom: "\E657",
        eduction: "\E91B",
        jaBlog: "\E901",
        secureCheckout: "\E655",
        faq: "\ED60",
        fullSite: "\E902",
);

.root {
  .navContainer {
    margin: 20px 0px 31px 0px;

    .linkContainer {
      display: flex;
      margin-bottom: 22px;
      align-items: center;

      .icon {
        padding: 0 8px 0px 15.6px;
        font-family: "JamesAllenFonts";
        font-size: 20px;
        color: #909090;

        @each $nav-icon, $icon in $nav-links-icons {
          &.#{$nav-icon}:before {
            content: $icon;
          }
        }
      }
      .label {
        color: #a3a3a3;
        text-transform: uppercase;
        font-size: 10.53px;
      }
    }
  }
}
