
.root {
  width: 100%;
  border-top: 1px solid #d6d6d6;
  height: 76px;


  .navContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1260px;
    margin: auto;
    align-items: center;
    padding: 0 20px;

    .itemContainer {
      height: 73px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      white-space: nowrap;
      cursor: pointer;
      .hoverItem{
        border-bottom: 3px solid blue;
      }

      &.hoverItem:hover{
        box-shadow: 0 5px 0px -2px #ff8080;
      }

      img {
        width: 200px;
        height: 100%;
      }
    }
  }
}
