@import "../../../../../styles/variables";

.header {
    margin: 0;
    font-size: 26px;
    color: map_get($colors, 'primary');
    padding-bottom: 22px;
}

.root p {
    font-size: 16px;
}

.root h3{
    text-align: start;
    font-size: 17px;
}
