.diamond-slick {
  margin: 22px 0;
}

.ring-slick {
  margin: 22px 0 -100px 0;
}

// .next-carousel-button {
//   cursor: pointer;
//   /*display: none !important;*/
//   font-family: JamesallenFonts;
//   position: absolute;
//   width: 20px;
//   height: 28px;
//   z-index: 1;
//   right: 0;
//   top: 50%;
//   -webkit-transform: translate(0, -50%);
//   transform: translate(0, -50%);
//   color: white;
//   background: rgba(255, 255, 255, 0.36);
//   text-align: center;
//   line-height: 51px;
//   /* background-color: #c2c2c2; */
//   width: 46px;
//   height: 51px;
//   font-size: 25px;
//   border: 1px solid #dbdbdb;
//   box-sizing: border-box;
// }

// .prev-carousel-button {
//   cursor: pointer;
//   /*  display: none !important;*/
//   font-family: JamesallenFonts;
//   position: absolute;
//   width: 20px;
//   height: 28px;
//   z-index: 1;
//   left: 0;
//   top: 50%;
//   -webkit-transform: translate(0, -50%);
//   transform: translate(0, -50%);
//   color: white;
//   background: rgba(255, 255, 255, 0.36);
//   text-align: center;
//   line-height: 51px;
//   /* background-color: #c2c2c2; */
//   width: 46px;
//   height: 51px;
//   font-size: 25px;
//   border: 1px solid #dbdbdb;
//   box-sizing: border-box;
// }

// .next-carousel-button, .prev-carousel-button {
//   background-color: rgba(161, 177, 194, 0.36);
// }

.homepage-slick .slick-slide {
  transition: transform 0.5s;
  text-align: center;
}

.homepage-slick .slick-track {
  height: 100%;
}

.homepage-slick  .slick-slide a {
  display: block;
  text-align: center;
  height: 100%;
}

.homepage-slick .slick-slide span {
  display: inline-block;
  position: relative;
  left: 1px;
  width: 1px;
  height: 100%;
}

.homepage-slick .slick-slide img {
  transition: all .3s;
  width: 273px;
  display: inline-block;
  position: absolute;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.diamond-slick .slick-slide img {
  top: 35px;
}

.ring-slick  .slick-slide img {
  top: 54px;
}


.homepage-slick  .slick-list {
  box-sizing: border-box;
}

.homepage-slick .slick-center {
  margin: 0 0;
  z-index: 1;
  position: relative;
}

.diamond-slick  .slick-center img {
  width: 480px;
  top: 0;
}

.ring-slick  .slick-slide img {
  width: 390px;
}

.ring-slick  .slick-center img {
  width: 600px;
  top: 0;
}

.diamond-slick  .slick-list {
  height: 300px;
}

.ring-slick  .slick-list {
  height: 431px;
}

.homepage-slick  .slick-arrow {
  display: none !important;
}

.ring-slick  .slick-slide {
  position: relative;
  transition: right .3s;
}

.ring-slick  .slick-slide:not(.slick-center) {
  right: 40px;
}

.ring-slick  .slick-center + span.slick-slide {
  right: -40px;
}

.ring-slick  .slick-center + span.slick-slide + span.slick-slide {
  right: -40px;
}

.ring-slick  .slick-center + span.slick-slide + span.slick-slide + span.slick-slide {
  right: -40px;
}
