.imgContainer {
    height: 120px;
    background: #eaeaea;
    padding: 20px 10px;

    .img{
        height: 120px;
        width: 70%;
        padding: 0% 15%;
    }
}

.navContainer {
    color: #656565;
    background: #f8f6f8;
    padding: 12px 6px;
    overflow: auto;
    white-space: nowrap;

    a {
        cursor: pointer;
        text-decoration: underline;
        margin: 0 8px;
        font-size: 17px;
        color: black;
    }
}

.navContainer .selected {
    text-decoration: none;
    color: #9f9f9f;
}







