.root{
  font-family: NunitoSans;
  .top-brown-text {
    font-weight: bold;
  }

  .design-own > div:first-child {
    color: rgba(243, 227, 213, 0.3);
    font-size: 172px;
    font-weight: 700;
    text-align: center;
    height: 150px;
  }

  .header{
    margin-bottom: 98px;
    background: #fbf8f3 top -38px left;
    position: relative;
    color: rgb(27, 27, 27);


    .title-pack > h1 > span, .title-pack > h1 > span.sub-title {
      display: block;
    }
    .title-pack > div.sub-title, .title-pack > div > span.sub-title {
      font-size: 18px;
      text-transform: none;
      font-family: 'NunitoSans';
      line-height: 28px;
      margin-top: 6px;
    }
    .start-with-container .title-pack > div.sub-title, .diamond-inspection .title-pack > div.sub-title {
      margin-top: 58px;
    }
    .center {
      text-align: center;
    }
    .title-pack {
      color: #1b1b1b;
      line-height: 41px;
      text-transform: uppercase;
      margin-bottom: 53px;
    }

    .title-pack > h1 > span, .title-pack > h1 > span.sub-title {
      display: block;
    }

    .title-pack > div, .title-pack > div > span {
      font-size: 42px;
      font-family: 'Playfair Display'
    }

    .title-pack > div:first-child, .title-pack > div > span:first-child {
      font-size: 31px;
      font-family: 'NunitoSans';
      height: 41px;
      display: block;
    }

    .title-pack > div.sub-title, .title-pack > div > span.sub-title {
      font-size: 18px;
      text-transform: none;
      font-family: 'NunitoSans';
      line-height: 28px;
      margin-top: 6px;
    }

    .start-with-container .title-pack > div.sub-title, .diamond-inspection .title-pack > div.sub-title {
      margin-top: 58px;
    }
  }

  .main{
    position: relative;

    .images-align > div {
      vertical-align: middle;
    }
    .pink-box {
      position: relative;
      width: 80%;
      background-repeat: no-repeat;
      background-position: center;
      /*  margin: 0 auto;*/
      box-shadow: 0px 40px 72px -16px rgba(0, 0, 0, 0.22);
      max-width: 96%;
      display: inline-block;
    }

    .pink-box1, .pink-box2, .pink-box3, .pink-box4 {
      background-position-x: 100%;
      background-position-y: 0;
    }

    .pink-box1 {
      width: 637px;
      height: 477px;
      background-image: url('https://ion.r2net.com/images/amazingHomepage/Eternity-Rings.jpg');
    }

    .scroll-started .pink-box1 {
      background-image: url('https://ion.r2net.com/images/amazingHomepage/Eternity-Rings.jpg');
    }

    .pink-box2 {
      width: 540px;
      height: 644px;
      background-image: url('https://ion.r2net.com/images/amazingHomepage/Gemstone-Rings.jpg');
    }

    .scroll-started .pink-box2 {
      background-image: url('https://ion.r2net.com/images/amazingHomepage/Gemstone-Rings.jpg');
    }

    .pink-box3 {
      width: 541px;
      height: 621px;
      background-image: url('https://ion.r2net.com/images/amazingHomepage/Men-Wedding-Rings.jpg');
    }

    .scroll-started .pink-box3 {
      background-image: url('https://ion.r2net.com/images/amazingHomepage/Men-Wedding-Rings.jpg');
    }

    .pink-box4 {
      width: 691px;
      height: 431px;
      background-image: url('https://ion.r2net.com/images/amazingHomepage/image4.jpg?v=10');
    }

    .scroll-started .pink-box4 {
      background-image: url('https://ion.r2net.com/images/amazingHomepage/image4.jpg?v=10');
    }

    .pink-box img {
      opacity: 0;
    }

    .float-bottom {
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      a {
        font-weight: bold;
      }
    }


    .float-content {
      font-size: 17px;
      line-height: 29px;
      margin-bottom: 20px;
    }

    .float-header {
      font-size: 23px;
      text-transform: uppercase;
      margin-bottom: 16px;
      margin-top: 0;
      font-weight: normal;
    }

    .float-white-box {
      transition: bottom .2s ease-out;
      width: 363px;
      height: 328px;
      padding: 50px;
      text-align: left;
      width: 363px;
      height: 328px;
      position: absolute;
      left: 0;
      bottom: 0;
      background: rgba(255, 255, 255, 0.8);
      box-sizing: border-box;
      z-index: 1;
      padding: 50px;
    }

    .float-area {
      position: relative;
    }

    .float-area img {
      max-width: 80%;
    }

    .table-align {
      display: table;
      width: 100%;
      table-layout: fixed;
      box-sizing: border-box;
    }

    .table-align > * {
      display: table-cell;
      text-align: center;
    }

    .wideContent {
      margin-left: auto;
      margin-right: auto;
      max-width: 1590px;
      min-width: 980px;
      padding-left: 10px;
      padding-right: 10px;
      width: auto;
      box-sizing: border-box;
    }

    .floating-banners {
      transform: translate(18px, 0);
      position: relative;
    }

    .text-bg {
      color: #f5ebea;
      font-size: 130px;
      position: absolute;
      font-family: 'Playfair Display', serif;
      white-space: nowrap;
    }

    .text-bg-1 {
      top: 565px;
      left: 0px;
    }

    .text-bg-2 {
      top: 1188px;
      right: -14px;
    }

    .text-bg-3 {
      top: 1755px;
      left: 0;
    }

    .text-bg-4 {
      top: 2150px;
      right: 0;
    }
  }
}





@media (max-width: 1400px) {
  .design-own > div:first-child {
    font-size: 150px;
    height: 124px;
  }
}
@media (max-width: 1330px) {
  .pink-box1, .pink-box2, .pink-box3, .pink-box4 {
    width: 80%;
  }
  .pink-box1 {
    background-position-x: -124px;
  }

  .pink-box4 {
    background-position-x: -124px;
  }

  .float-white-box {
    text-align: left;
    width: 284px;
    height: 339px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    z-index: 1;
    padding: 45px;
  }
  .float-header {
    font-size: 23px;
  }
}

@media (max-width: 1180px) {
  .design-own > div:first-child {
    font-size: 120px;
    height: 100px;
  }
}
